.container {
  margin: 2rem;
}

.container > :not(:last-child) {
  margin-bottom: 2rem;
}

.button-container :not(:last-child) {
  margin-bottom: 1rem;
}

.input-card {
  margin: 1rem 0;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.name-card {
  margin: 1rem 0;
}

.terms {
  display: grid;
  grid-template-columns: 40px 1fr;
  place-items: center;
}

.terms :not(:last-child) {
  margin-right: 1rem;
}

.terms-link {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.institution-select {
  width: 100%;
}
